body{
  background: url(../images/background.png) no-repeat;
  height: 100%;
}
a:hover{
  color: #000;
  text-decoration: none;
}
html{
  background: #646464;
  height: 100%;
}
.bodyheight{
  height: 100%;
}
.header{
  width: 100%;
  background: #323232;
  height: 67px;
}
.header_c{
  width: 95%;
  float: left;
  margin-top: 16px;
  margin-left: 2.5137952176578784%;
}
.sidebar{
  width: 14.685%;
  height: 100%;
  background: #646464;
  float: right;
}
.sidebar_b{
  width: 100%;
  height: 100%;
  float: left;
}
.search{
  float: right;
  width: 19.1%;
}

.logo{
  width: 9%;
  float: left;
}
.search input{
  width: 94%;
  height: 35px;
  border: 0;
  outline: 0; 
  background: #e4e4e4;
  padding-left: 10px;
  font-size: 12px;
}
.lcon_03{
  width: 31px;
  margin-top: 20px;
  margin-left: 12%;
  float: left;
}
.color{ 
  color: #e4e4e4;
  float: left;
  font-weight: bold;
  margin-left: 11%;
  font-size: 12px;
  line-height: 12px;
  margin-top: 25px;
}
.sidebar_c{
  float: left;
  margin-top: 16px;
  width: 100%;
}
.lcon_04{
  width: 38px;
  margin-left: 10%;
  float: left;
  margin-top: 20px;
}
.sidebar_title{
  color: #e4e4e4;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
}
.sidebar_color{
  color: #e4e4e4;
  float: left;
  font-size: 12px;
  line-height: 12px;
}
.titlea{
  float: left;
  width: 100%;
}
.name{
  width: 100%;
  margin-top: 20px;
  float: left;
  background: #646464;
}
.lcon_06{
  background-image: url(../images/lcon_06.png);
  width: 32px;
  height: 15px;
  margin-left: 12%;
  float: left;
  margin-right: 4%;
}
.sidebar_p{
  margin-top: -6px;
  height: 45px;
  width: 100%;
  float: left;
}
.sidebar_p:hover{
  background:#323232;
} 
.portraitimg{
  width: 12%;
  height: 80%;
  float: left;
  float: left;
  margin-left: 12%;
  margin-right: 4%;
  margin-top: 2%;
}
.mlcolor{
  margin-top: 20px;
}
.facebook_c{
  margin-top: 16px;
  height: 619px;
  float: left;
  width: 100%;
}
.find{
  float: left;
  padding-top: 20px;
  background: #646464;
}
.find input{
  width: 100%;
  height: 34px;
  border: 0;
  outline: 0; 
  background: #e4e4e4;
  padding-left: 10px;
  font-size: 12px;
}
.main{
  width: 85.315%;
  float: left;
  height: 100%;
}
.title{
  padding-top: 30px;
  padding-left: 2.5137952176578784%;
  color: #fff;
  float: left;
  width: 100%;
}
.title p{
  font-size: 12px;
  color: #fff;
}
.title a{
  color: #fff;
}
.content{
  padding-top: 13px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.content_left{
  width: 11.771919068056407%;
  height: 691px;
  float: left;
  margin-left: 2.5137952176578784%;
  overflow: hidden;
}
.content_c{
  opacity: 0.8;
  float: left;
  background: #e4e4e4;
  width: 100%;
  height: 640px;
  overflow: hidden;
}
.content_lc{
  margin-left: 8%;
  margin-top: 9px;
}
.content_c>li>a{
  color: #323232;
  font-size: 13px;
  font-weight: bold;
}
.sub_c{
  overflow: hidden;
}
.sub_c a{
  line-height: 17px;
  font-size: 12px;
  color: #323232;
}
.sub_c a:hover{
  font-weight: bold;
}

.subTree {
  margin-left: 8%;
  display: none;
}
.mb{
  margin-bottom: 10px;
}
.content_lf{
  width: 100%;
  height: 51px;
  background: #323232;
  font-weight: bold;
  float: left;
  border: solid  0px;
}
.lcon_01{
  width: 15px;
  margin-right: 4px;
  float: left;
}
.content_lf h4{
  margin: 0;
  color: #bbbbbb;
  float: left;
  margin-top: 3px;
}
.content_f{
  width: 120px;
  margin: 0 auto;
}
.content_middle{
  margin-left: 0.7965686274509803%;
  float: left;
  width: 660px;
}
.mt{
  margin-top: 11px;
}
.content_mr{
  float: left;
  width: 375px;
  height: 691px;
  margin-left: 0.7965686274509803%;
}
.picture_right{
  width: 100%;
  float: left;
  margin-bottom: 3%;
  height: 32.27%;
  background: #e4e4e4;
}
.pictureimg{
  float: left;
  height: 100%;
  width: 60.3%;
}
.pictureimg img{
  width: 100%;
  height: 100%;
}
.introduction{
  width: 39.7%;
  height: 100%;
  float: left;
} 
.introduction_h{
  float: right;
  height: 31.3%;
  padding-top: 5%;
  padding-right: 6px;
  width: 82%;
}

.introduction_c{
  float: right;
  height: 52%;
  padding-right: 10px;
  padding-top: 8px;
  width: 100%;
  font-size: 14px;
}
.introduction_f{
  width: 100%;
  float: left;
  height: 16.7%;
  font-size: 12px;
  background: #bbb;
  font-weight: bold;
}
.introduction_c p{
  color: #323232;
  font-weight: bold;
  text-align: right;
}
.introduction_f h4{
  margin: 0 auto;
  width: 124px;
  color: #fff;
  font-size: 17px;
  margin-top: 11px;
  text-align: right;
}
.introduction_cp .fz{
  font-size: 20px;
  margin-bottom: 5px;
}

.content_right{
  float: right;
  width: 20%;
}
li{
  list-style: none;
}
.slider{
  padding: 0;
  height:340px; 
  float: left;
  overflow:hidden; 
  position:relative; 
  width: 100%;
}
.sliderbox{
  position:absolute; 
  top:0; 
  left:0;
  padding: 0;
}
.slidertext{
  position:absolute; 
  width:100%;
  height: 100%;
  right: 0;
  padding: 0;
}
.slidertext li{
  display:none;
}
.slidertext li a{
  text-align:left; 
  line-height: 30px; 
  height: 30px; 
  color: #fff;
}
.slider .prev{
  opacity: 0.5;
  position: absolute;
  cursor: pointer; 
  width:40px; 
  height:20px; 
  left:186px; 
  background: url(../images/lcon-top.png) 0 0 no-repeat;
}
.slider .next{
  opacity: 0.5;
  position: absolute; 
  bottom: 0;
  left:186px;
  cursor:pointer; 
  width:40px; 
  height:20px; 
  background: url(../images/lcon-bottom.png) 0 0 no-repeat;
}
.slidera{
  height:340px; 
  float: left;
  overflow:hidden; 
  position:relative; 
  width: 100%;
}
.sliderboxa{
  position:absolute; 
  top:0; 
  left:0;
  padding: 0;
}
.sliderboxa li{
  width: 100%;
  height:100%;
}
.sliderboxa li img{
  width: 100%;
  height: 340px;
}
.slidertexta{
  position:absolute; 
  width:100%;
  height: 100%;
  right: 0;
  padding: 0;
}
.slidertexta li{
  display:none;
}
.slidertexta li a{
  text-align:left; 
  line-height: 30px; 
  height: 30px; 
  color: #fff;
}
.slidera .preva{
  opacity: 0.5;
  position: absolute;
  cursor: pointer; 
  width:40px; 
  height:20px; 
  left:186px; 
  background: url(../images/lcon-top.png) 0 0 no-repeat;
}
.slidera .nexta{
  opacity: 0.5;
  position: absolute; 
  bottom: 0;
  left:186px;
  cursor:pointer; 
  width:40px; 
  height:20px; 
  background: url(../images/lcon-bottom.png) 0 0 no-repeat;
}
.picture_main{
  background:#000; 
  background:rgb(00,00,00); 
  opacity:0.8;
  width: 240px;
  float: right;
}
.picture{
  background: #e4e4e4;
  width: 100%;
  height: 63px;
}
.picture_f{
  background: #bbb;
  bottom: 0;
  height: 50px;
  width: 100%;
  float: left;
  color: #fff;
}
.picture_f h3{
  width: 73%;
  margin: 0 auto;
  margin-top: 6%;
}
.picture_c{
  height: 214px;
  margin-top: 13px;
  margin-right: 8px;
  color: #fff;
  width: 100%;
  float: right;
  font-weight: bold;
  text-align: right;
  font-size: 14px;
}
.picture_c h2{
  color: #fff;
}
.picture_c p{
  float: right;
}
.picture_c_cp{
  margin-top:8px; 
}
h2{
  margin: 0;
}
.picture_cpl{
  float: right;
  width: 88%;
  text-align: left;
  font-size: 13.5px;
} 
.picture_cpl p{
  text-align: justify;
}
.model{
  width: 182px;
  height: 100%;
  margin: 0 auto;
  margin-top: -67px;
}
.content_r{
  width: 84%;
  height: 100%;
  float: left;
}
.progressa{
  width: 94%;
  margin-top: 16px;
  float: right;
}
.progressa img{
  float: right;
}
.introduction_h img{
  float: right;
}
.picture_cpimg{
  width: 95%;
  float: right;
  line-height: 64px;
}
.picturerightimg{
  margin-top: 8px;
  margin-right: 8px;
  float: right;
}
.boing{
  float: left;
}
.designersa{
  width: 1046px;
  background: #fff;
  overflow: auto;
  height: 691px;
  padding-top: 12px;
  float: left;
}

.designers_picture{
  margin-left: 17px;
  width: 320px;
  height: 317px;
  float: left;
  color: #111;
}

.designers_picture h3{
  margin-top: 12px;
}
.designers_picture p{
  font-size: 12px;
  line-height: 14px;
}
.landing{
  text-align:center;
  vertical-align:middle;
  margin-top: 4%;
  width: 100%;
  line-height: 90px;
  float: left;
  max-width: 100%;
  /*height: 690px;*/
}
.sex{
  float: left;
  width: 100%;
  margin-top: -19.5%;
}
.sexa{
  background: #323232;
  border: #fff 1px solid;
  width: 9.895833333333332%;
  height: 25px;
  float: left;
  color: #fff;
  text-align:center;
  margin: auto;
  font-size: 11px;
  padding: 0;
  padding-top: 3px;
}
.violet{
  margin-left: 20%;
}
.azure{
  margin-right: 20%;
  float: right;
}
.designer_product{
  width: 1046px;
}
.designer{
  width: 790px;
  background: #fff;
  overflow: auto;
  height: 691px;
  padding-top: 17px;
  float: left;
}
.designer_picture{
  margin: auto 5%;
  width: 300px;
  height: 450px;
  float: left;
  color: #111;
  text-align: center;
}
.designersa .designer_picture{
  margin: 0 2% 28px ;
}


.designer_picture p{
  font-size: 12px;
  line-height: 14px;
}
.designer_introduction{
  width: 240px;
  height: 691px;
  float: left;
  background: #323232;
  margin-left: 1.338432122370937%;
}
.portrait{
  width: 100%;
  float: left;

}
.designre_introduction{
  float: left;
  margin-top: 10px;
  color: #fff;
  width: 79.16666666666666%;
  height: 60.82055%;
  text-align: right;
  margin-left: 10%;
}
.designre_name{
  height:12.471655328798185%;
  border-bottom: solid #fff 1px;
}
.designre_description{
  font-size: 12px;
  text-align: justify;
}
.designre_title{
  font-size: 13px;
  font-weight: bold;
  height: 48px;
  padding-top: 15px;
  text-align: right;
}
.designre_content{
  height: 260px;
}
.visitbutton{
  text-align: center;
  float: left;
  width: 100%;
  height: 26px;
  background: #646464;
  padding-top: 2px;
}
.chatbutton{
  margin-top: 8px;
  text-align: center;
  float: left;
  width: 100%;
  height: 26px;
  border: solid #fff 1px;
  padding-top: 2.5px;
}
.chatbutton{
  color: #fff;
}
.facebook_icon{
  margin-top: 14px;
  float: right;
}
.facebook_icon img{
  float: left;
  margin-left: 6px;
}
.bottom_navigation{
  float: left;
  width: 100%;
  color: #fff;
  height: 12.3%;
  background: #bbbbbb;
}
.ranking{
  width: 25%;
  height: 94%;
  background: #646464;
  float: left;
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
  color: #fff;
}
.ranking:hover{
  color: #323232;
  background: #bbb;
}
.getintouch{
  background: #e4e4e4;
  height: 691px;
  width: 1046px;
}
.getintouch_content{
  height: 92%;
  width: 97.99235181644359%;
  margin: 0 auto;
}
.getintouch_footer{
  bottom: 0;
  width: 100%;
  background: #bbbbbb;
  height: 8%;
}
.getintouch_footer_content{
  padding-top: 18px;
  width: 96.65391969407266%;
  margin: 0 auto;
}
.getintouch_footer_left{
  float: left;
}
.getintouch_footer_right{
  float: right;
}
.getintouch_content_left{
  width: 75.70731707317073%;
  float: left;
  height: 100%;
  padding-top: 21px;
}
.getintouch_content_right{
  float: right;
  width: 82px;
  padding-top: 8px;
}
.getintouch_content_right img{
  float: right;
}
.getintouch_content_title{
  height: 16px;
  line-height: 10px;
  border-bottom: solid #bbb 1px;
  margin-bottom: 14px;
  font-weight: bold;
}
.getintouch_basic_conteact{
  height: 244px;
}
.getintouch_social_media{
  height: 90px;
}
.getintouch_introduction_title{
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
}
.title_top{
  margin-top: 17px;
}
.getintouch_introduction_content{
  line-height: 13px;
  font-size: 12px;
}
.getintouch_live_chat{
  width: 25.51546391752577%;
  height: 25px;
  background: #323232;
  color: #fff;
  text-align: center;
  padding-top: 2px;
}
.getintouch_introduction_content .input-group{
  width: 100%;
}
.getintouch_introduction_content .input-group input{
  background: #bbbbbb; 
  position: relative;
  border: 0;
  outline: 0;
  height: 25px;
}
.getintouch_introduction_content .input-group-addon{
  background: #323232;
  width: 25.773195876288657%;
  height: 25px;
  border: 0;
  outline: 0; 
  padding-left: 10px;
  font-size: 12px;
  color: #fff;
}
.item{
  width: 790px;
  height: 691px;
  float: left;
}
.item_content{
  width: 100%;
  height: 81.91027496382056%;
  background: #aaa;
  float: left;
  overflow: hidden;
}
.item_footer{
  width: 100%;
  background: #fff;
  float: left;
  margin-top: 11px;
  height: 16.49782923299566%;
}
.item_complete{
  float: left;
  background: #bbbbbb;
  width: 10.886075949367088%;
  padding-top: 10px;
  padding-left: 0.8%;
  font-weight: bold;
  font-size: 13px;
  height: 100%;
}
.item_fc{
  padding-top: 10px;
  height: 99%;
  width: 33.33333333333333%;
  float: left;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.item_fc img{
  width: 80px;
  margin: 0 auto;
  height: 78px
}
.item_portrait{
  height: 10.892909%;
  background: #fff;
  margin: 0 auto ;
  padding-left: 4%;
  padding-top: 1%;
  width: 100%;
  float: right;
}
.item_portrait h3{
  width: 144px;
  margin: 0 auto ;
}
.item_portrait h3 p{
  width: 66px;
  font-size: 14px;
  margin: 0 auto ;
  text-align: justify;
}
.item_style{
  margin-top:5%;
  height: 28.579832%;
  width: 100%;
  float: right;
  color: #fff;
  text-align: right;  
}
.item_style h5{
  margin-top: 0px;
  margin-bottom: 0px;
}
.itm_price{
  height: 44.9438202247191%;
  padding-top: 5.752212389380531%;
}
.itm_color{
  width: 63%;
  height: 15.045455%;
  float: right;
}
.itm_color img{
  float: right;
}
.itm_size{
  float: right;
  width: 100%;
}
.itm_size_coding{
  width: 33px;
  height: 16px;
  float: right;
  text-align: center;
}
.item_introduction{
  float: right;
  color: #fff;
  border-top: solid #fff 1px;
  border-bottom: solid #fff 1px;
  width: 89.816667%;
  height: 52.235%;  
}
.item_review{
  float: left;
  height: 86.10709117221419%;
  padding-right: 5%;
  width: 100%;
}
.item_opinion{
  padding-top:4.213104%;
  height: 15.399177%;
  text-align: right;
  line-height: 12px;
}
.item_comment{
  font-size: 12px;
  line-height: 14px;
  text-align: justify;
  height: 50.90946502057613%;
}
.item_guide{
  float: right;
  color: #fff;
  text-align: right;
  height: 18.991596638655462%;
  font-size: 13px;
  width: 100%;
  margin-top: 1.3445378151260505%;
}
.item_size{
  height: 40%;
}
.item_red{
  color: #cc4983;
}
.item_sizeguide{
  margin-top: -1px;
  width: 105.4%;
  float: left;
}
.item_size{
  width: 100%;
  float: right;
  color: #fff;
}
.item_size p{
  float: right;
}
.designer_picture img{
  width: 100%;
  height: 400px;
}
.designer_picture h3{
  text-align: center;
}
.designer_picture  a{
  color: #111;
}
.item_complete_con{
  width: 39.11392405063292%;
  float: left;
  overflow: auto;
  height: 100%;
}
.item_fc:hover{
  background: #e4e4e4;
  height: 100%;
}
.picture_cp h3{
    width: 96%;
    float: right;
    height: 52px;
}
.picture_cpa{
    width: 96%;
    float: right;
}
.picture_cpa a h3{
    float: right;
    text-align: right;
    text-decoration:none;
}
.picture_cp a h3{
    float: right;
    text-align: right;
    text-decoration:none;
}
.picture_f:hover, .introduction_f:hover,.content_lf:hover{
  background: #646464;
}
.picture_cpl p a {
  line-height: 18px;
  text-decoration:none;
}
.before {
  margin-top: 70%;
  width: 100%;
  color: #e4e4e4;
}
.before p {
  width: 180px;
  font-size: 12px;
  margin: auto;
}
.before img{
  width: 64px;
  margin: auto;
  margin-bottom: 18px;
}
.before h3{
  width: 230px;
  margin: auto;
}
.append_parent{
  width: 80%;
  margin: auto ;
  height: 27px;
  margin-top: 30px;
}
.append_parent_log{
  text-align: center;
  float: left;
  width: 45%;
  height: 100%;
  border: solid #fff 1px;
  padding-top: 2.5px;
  color: #fff;
  float: left;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #646464;
}
.append_parent_registration{
  text-align: center;
  float: left;
  width: 45%;
  height: 100%;
  margin-left: 10%;
  background: #bbbbbb;
  padding-top: 2.5px;
  float: left;
  color: #000;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
.modal_color{
  width: 650px;
  height: 320px;
  margin:290px auto;
  background: #646464;
}
.modal_login{
  width: 43%;
  height: 100%;
  padding-left: 2%;
}
.modal_login h3{
  margin-top: 14px;
  color: #fff;
}
.modal_input{
  margin-top: 60px;
}
.modal_input input{
  width: 100%;
  height: 27px;
  background: #bbb;
  border: 1px solid #e4e4e4;
}
.modal_blank p {
  padding-top: 7px;
  font-size: 12px;
  color: #fff;
}
.modal_blank{
  height: 58px;
}
.modal_input img {
  width: 100%;
  margin-bottom: 14px;
}
.modal_line{
  width: 1px;
  height: 70%;
  background: #fff;
  margin-top: 7%;
  margin-left: 5%;
  float: left; 
  margin-right: 1%;
}
.mb13{
  margin-bottom: 13px;
}
.timesx{
  margin-left: -18px;
  margin-top: 10px;
  float: left;
  font-size: 35px;
  color: #fff;
  font-weight: normal;
  line-height: normal;
}
.AreaR{
  height: 691px;
  background: #e4e4e4;
  width: 100%;
}
.boxL{
  float: left;
  width: 58%;
  height: 92.6%;
  padding-top: 3%;
  padding-left: 3%;
  overflow: auto;
}
.boxR{
  float: right;
  width: 36%;
  height: 92.6%;
}
.boxF{
  float: left;
  background: #bbbbbb;
  height: 7.4%;
  width: 100%;
}
.boxR_img{
  width: 100%;
  float: right;
  height: 10%;
  padding-top: 3%;
}
.boxR_img img{
  float: right;
  margin-right: 3%;
  width: 110px;
}
.boxR_editor{
  height: 90%;
  float: left;
  background: #323232;
  width: 100%;
}
.boxR_portrait{
  width: 84%;
  background: #555;
  margin: 6% auto;
}
.panelhalf{
  width: 50%;
  float: left;
}
.panelhalf input{
  width: 90%;
}
.paneltitle{
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}
.panelinput input{
  border:0;
  height: 25px;
  background: #bbbbbb;
  margin-bottom: 26px;
}
.submit_form{
  width: 36%;

}
.submit_form button{
  width: 85%;
  height: 25px;
  background: #323232; 
  border: 1px solid #fff;
  margin-top: 6%;
  margin-left: 8.5%;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
} 
.reset{
  margin-top: 2.5%;
  margin-left: 2.5%;
}
.background32{
  background: #323232; 
}
.introduction_f01{
  float: right;
  width: 100%;
  text-align: right;
  background: #bbbbbb;
}
.picture_guide{
  height: 66.1%;
  margin-bottom: 3%;
}
.picture_guide_h img{
  float: right;
}
.picture_guide_h{
  float: right;
  height: 14%;
  padding-top: 5%;
  padding-right: 6px;
  width: 57%;
}
.picture_guide_c{
  height: 86%;
  width: 100%;
  float: right;
}
.picture_guide_con{
  height: 50%;
  width: 100%;
}
.picture_guide_con img{
  width: 100%;
  height: 81.1%
}
.picture_guide_f{
  background: #bbbbbb;
  height: 18.9%;
  width: 100%;
  float: left;
}
.picture_guide_f h4{
  margin: 0 auto;
  width: 124px;
  color: #fff;
  font-size: 17px;
  margin-top: 8%;
  text-align: right;
}
.picture_guide{
   background: #e4e4e4;
}
.picturecont{
  width: 85.46%;
  margin: auto; 
  height: 100%;
  padding-top: 4.8%;
  overflow: auto;
  text-align: justify;
}
.picturecontent{
  font-size: 12px;
  width: 86%;
  line-height: 14px;
}
.buy_01{
  height: 52.6%;
  overflow: auto;
}
.figure{
  width: 84%;
  margin: auto;
  color: #fff;
  margin-top: 18%;
  font-size: 12px;
}
.gender{
  width: 100%;
}
.sex_choose {
  color: #fff;
  background-color: #777777;
  border-color: #777777 ;
  border-radius: 0; 
  font-size: 12px;
  height: 18px;
  padding: 1px;
  width: 50%;
}
.sex_choose:focus,
.sex_choose.focus,
.sex_choose:active,
.sex_choose.active,
.open > .dropdown-toggle.sex_choose {
  color: #000;
  background-color: #bbbbbb;
  border-color: #fff;
}
.sex_choose:active,
.sex_choose.active,
.open > .dropdown-toggle.sex_choose {
  background-image: none;
}

.sex_choose.disabled,
.sex_choose[disabled],
fieldset[disabled] .sex_choose,
.sex_choose.disabled:hover,
.sex_choose[disabled]:hover,
fieldset[disabled] .sex_choose:hover,
.sex_choose.disabled:focus,
.sex_choose[disabled]:focus,
fieldset[disabled] .sex_choose:focus,
.sex_choose.disabled.focus,
.sex_choose[disabled].focus,
fieldset[disabled] .sex_choose.focus,
.sex_choose.disabled:active,
.sex_choose[disabled]:active,
fieldset[disabled] .sex_choose:active,
.sex_choose.disabled.active,
.sex_choose[disabled].active,
fieldset[disabled] .sex_choose.active {
  background-color: #777777;
}

.figure_content{
  height: 50px;
}
.figure_height{
  width: 100%;
  background: #bbbbbb;
  border-color: #fff;

}
.figure_height option{
  background: #777777;
}
.figure_height option:hover{
  background: #bbbbbb;
}
  .figure_skin{
    width: 100%;
  }
.figure_skin img{
  width: 100%;
}

/* model */
.model{
  position: relative;
}
.model>div{
  position: absolute;
  left: 0;
  top: 0;
}
.z-index1{
  z-index: 1;
}
.z-index100{
  z-index: 100;
}
.z-index10{
  z-index: 10;
}
.z-index50{
  z-index: 50;
}

/* /model */

.goodcontent{
  position: absolute;
  left: 0;
  bottom: 0;
  background: #919191;
  width: 88%;
  color: #fff;
  padding:5px 0;
  font-size: 12px;
}
.leftIcon{
  position: absolute;
  z-index: 10;
  border: 10px solid;
  border-color:transparent transparent transparent #595959 ;
  width: 0px;
  height: 0;
  font-size: 0;
  right:0;
  bottom: 4%;
}
.writeIcon{
  position: absolute;
  z-index: 11;
  border: 10px solid;
  border-color:transparent transparent transparent #f1f1f1 ;
  width: 0px;
  height: 0;
  font-size: 0;
  right:2px;
  bottom: 4%;
}
.content_other{
  margin-left: 8%;
  margin-top: 7px !important;
}

.swiper-wrapper,.swiper-container,.swiper-slide {
  height: 100% !important;
}

.swiper-slide img{
  margin: auto;
  max-width: 97.5%;
  height: 100%;
}
.device{
  height: 100%;
  position: relative;
}

.Page{
  position: absolute;
  top: 15px;
  left:28%;
  overflow: hidden;
  z-index: 100;
  width: 75px;
  height: 28px;
  background: #E4E4E4;
}

.sliderPagePre{
  width: 12px;
  height: 23px;
  background: url('../images/left.png');
  float: left;
  margin-top: 3px;
  margin-left: 4px;
  cursor: pointer;
}
.sliderPageNext{
  width: 12px;
  height: 23px;
  background: url('../images/right.png');
  float: right;
  margin-top: 3px;
  margin-right: 4px;
  cursor: pointer;
}
.cover{
  position: absolute;
  overflow: hidden;
  z-index: 50;
  width: 100%;
  height: 100%;
}
.coverleft{
  background: #000;
  opacity: 0.7;
  width: 33%;
  height: 100%;
  float: left;
}
.coverright{
  background: #000;
  opacity: 0.7;
  width: 33%;
  float: right;
  height: 100%;
}
.complexion {
  color: #fff;
  border-color: #e4e4e4 ;
  border-radius: 0; 
  font-size: 12px;
  height: 18px;
  padding: 1px;
  width: 25%;
}
.complexion:focus,
.complexion.focus,
.complexion:active,
.complexion.active,
.open > .dropdown-toggle.complexion {
  background-image: url(../images/lcon_16.png);
} 

.model_figure {
  border-color: #666666 ;
  background-color: #555555;
  border-radius: 0; 
  font-size: 12px;
  height: 18px;
  padding: 1px;
  width: 33.33%;
}
.model_figure:focus,
.model_figure.focus,
.model_figure:active,
.model_figure.active,
.open > .dropdown-toggle.model_figure {
  border-color: #e4e4e4;
  background-color: #bbbbbb;
  color: #323232;
}
.reset button{
  background: transparent;
  border: 0;
}
.basket-checkout{
  float: left;
}
.basket-checkout{
  width: 100%;
  height: 67px;
}
.basket_cart{
  background:#646464; 
  width: 100%;
  color: #E4E4E4;
  height: 792px;
  float: left;
}
.cart_main>div{
  width: 100%;
  height: 110px;
  margin-bottom: 20px;
  padding-top: 10px;
  float: left;
}
.cart_content{
  float: left;
  width: 67.7%;
  height: 100%;
  color: #fff;
  padding-left: 4.16%;
}
.cart_top{
  width: 100%;
  height: 14.5%;
  float: left;
}
.cart_top p{
  font-size: 12px;
  float: left;
  width: 91%;
  overflow:hidden;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  white-space:nowrap;
}
.cart_color{
  width: 100%;
  float: left;
  height: 20.9%;
  padding-top: 2%;
}
.cart_color p {
  float: left;
  margin-left: 6px;
  line-height: 13px;  
}
.E55{
  border: solid 1.5px #fff;
  width: 12px;
  height: 12px;
  float: left;
  background: #313E55;
}
.cart_content>.cart_progress>.progress{
  background: #E4E4E4; 
}
.cart_progress{
  width: 100%;
  height: 42%;
  float: left;
}
.cart_detail{
  width: 100%;
  height: 90%;
}
.cart_detail>div{
  width: 33.33%;
  height: 90%;
  float: left;
  position: relative;

}
.cart_title{
  width: 100%;
  font-size: 14px;
  float: left;
}
.cart_footer_detail{
  width: 100%;
  /*position: absolute;*/
  bottom: 0px;
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  line-height: 10px;
}
.cart_footer_price{
  width: 100%;
  height: 20%;
  float: left;
  text-align:center;
  position:relative
}
.cart_footer_price p{
  font-size: 18px;
  position:absolute;
  bottom:0px;
  padding:0px;
  margin:0px;
  line-height: 16px;
}
.cart_image{
  width: 29.5%;
  float: left;
  height: 100%;
}
.cart_image img{
  float: right;
  width: 85.5%;
  height: 100%;
}
.cart_right{
  width: 9%;
  float: right; 
}
.cart_right img{
  width: 100%;
}
.cart_progress>.progress{
  width: 90%;
}
.cart_right{
  display: none;
}
.cart_main>div:hover .cart_right{
  display: block;
}
.cart_main{
  width: 100%;
  height: 70%;
  overflow: auto;
}
.cart_footer{
  width: 90%;
  height: 30%;
  overflow: hidden;
  margin: auto;
}
.cart_footer_title{
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  width: 100%;
  float: left;
}
.cart_footer_content{
  line-height: 18px;
  font-size: 12px;
  width: 100%;
  float: left;
}
.cart_footer_content p {
  width: 88%;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body{
  border-top: none;
}
.cart_footer_content input{
  height: 25px;
}
.cart_footer_submit{
  margin-top: 4%;
  width: 100%;
  float: left;
}
.visitbutton>a{
  color: #fff !important;
}