<!-- $Id: model_management_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,validator.js"}

<div class="main-div">
  <form action="" method="post" name="theForm" onsubmit="return validate();">
    <table cellspacing="1" cellpadding="3" width="100%">
      <tr>
        <td class="label">{$lang.model_height}:</td>
        <td>
         <input type="text" onkeypress="return IsNum(event)" value="{$model_height_management.model_high}"name="model_height"/>  
        </td>
      </tr>
      <tr align="center">
        <td colspan="2">
          <input type="hidden" name="model_id" value="{$model_height_management.model_id}" />
          <input type="submit" value="{$lang.button_submit}" class="button" />
          <input type="reset" value="{$lang.button_reset}" class="button" />
          <input type="hidden" name="act" value="{$form_act}" />
        </td>
      </tr>
    </table>
  </form>
</div>
<script type="text/javascript">

function IsNum(e) {
  var k = window.event ? e.keyCode : e.which;
  if (((k >= 48) && (k <= 57)) || k == 8 || k == 0) {
  } else {
      if (window.event) {
          window.event.returnValue = false;
      }
      else {
          e.preventDefault(); //for firefox 
      }
  }
} 
</script>

{include file="pagefooter.htm"}
